*{
    box-sizing: border-box;
}form{
    margin: auto;
    border: 2px solid;
    padding: 2em;
    width: 50%;   
    display: flex;
    flex-direction: column;
}
div{
    margin: 10px;
}
button{
    margin-top: 10px;
    max-width: 100px;
}
input.ng-touched.ng-invalid{
    border-color: rgb(245, 76, 76);
}